.idea/
*.iml
out/
target/
.classpath
.project
.settings
.externalToolBuilders
bin/
Thumbs.db
classes
/res/drawable-hdpi/Thumbs.db
mobile.eml
mobile.iml
mobile.userlibraries
*.pid
/do.sh
*/catalina*
pom.xml.versionsBackup
logs/
*.log
